@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
    <img src="https://public.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!uEA1d7JaC-af1AGHnr7ce0vES9fzOAgtrdfqLtV-2csmKnJihywA8E4tNoFqyxuGud4pxe7F_KpDMmfu__v85i7_Xib4dKXBFT8_Hxqxr_-cwPWMmHtaUjc3R1Gv76m2c4ny-ltbjUsJgMk9_xi80SB0PX4alnHJdnHHR-EHnw6hVIhsw6KUYUJcmUPJ-b7CV7DtO8sZ7BrhJNfHo-nSxk2dsvaw0YPobZAVcncoxDkEucA_yKmG6luYJ9hHTBnzLqfDeiA570BoqMw0hl2FT3o3pTg9CYhF9jYd5wbsECqwcJtA3lWlLm6C0phxZmxeXzD0HIqg6dG2CX4bmxpuOj-v5AEz_A1YSa9E6k2FHbizEinzrOdAA0uEXiFOrivCicFktRZkiPef_14ffWNXUi50_8L308pWI70JrsI5yWhHTZK4Hp9axRZrIKajDsdVy5Hs885pQRv7bApp-WQeagpCNGhzvYOXPAOMKKq5E2LpWWYIAo0OYMqDerBYxPjTHpcEmvnojnZH8w06yUOgkmV1tTfu_YqOIQOK67tCExspK8HaRK0owjudEeb8l8bFtHsH5Fc-HDWiT7aEtL9qoL3tn3QEl8U2cdHBbQ..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Joel Hilton" />
</div>