@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1>
    <img src="https://public.boxcloud.com/api/2.0/internal_files/908099177363/versions/978098006963/representations/jpg_paged_2048x2048/content/1.jpg?access_token=1!TAyw_43PKon7Iegvns4Z_A2hMYBcNPpPC4kR-E0wvAKOYJWEvnrCuC70Oq-iYhtCLJV8dBFI3V7sJsLv3z4SDfnhqXV07dKOSku5dFnxq3BOVrnPR0V8oDTMmVUjsiuE0YFjW81LUPyZLBnFzM4RI_EUhMkNaTxl0ZQvguBHtK4-9T17xjAa9fe6yw4jYNdquDiLLmwL2T7DyGd06gIr5dKqwfbMJIt7_XaBW34ZzSARdT_gMWzhjy8cIYeWZrRb_X6LyEm39RAwrvpu9x9AKq4dgAWWGYGW85ZCQ_HYaC1I3KB3kW4n1BNw0S72IhLMr-TVmt4SkjVQNPq84c0BwsEJI3Sc2ONezatZPv441mUfRnZARd5p-jBsepJqDi3I8XxvVQvhkN3p0ZUFadpd3ySVOQ2uwvCJiHZCH-ekJXHWNTpMlN4CoVIPStL4Rin7e72diOeOsvyx6UW7xOiPyOCuNWBPUEDU97pEujgqc3Xq0XIEBYCtch0nM-kdrGMs0wOMg-wRyaXGHadNDGc_FzNET5QnRFC-UMzdjQZSidqsktfYEOIcEJ8u6KxKZjqfGEwb8qZOjkqjL4JquukNjsQyotNZpWQxbngxww..&shared_link=https%3A%2F%2Fbyu.app.box.com%2Fs%2F8sjz2qei13h4nnlw0e6gc10ot35octkf&box_client_name=box-content-preview&box_client_version=3.0.0" alt="Joel Hilton" />
</div>